<div class="col-md-3">
    <div class="card" onclick="alert()">
        <h5 class="card-header">{login}</h5>
        <div class="card-body">
            <h5 class="card-title">{name}</h5>
            <p class="card-text"></p>
        </div>
        <div class="card-footer text-muted">
            <p class="card-text"><i class="fa fa-star-o"></i> <strong>{stargazers}</strong> <i class="fa fa-eye"></i> <strong>{watchers}</strong></p>
        </div>
    </div>
</div>